
<head>
    <link rel="stylesheet" href="/app.css">
</head>

<%- include('header'); -%>
<h1>Your Cart</h1>
<ul style="margin: 30px;">
    <% if (cart.length > 0) { %>
        <% cart.forEach(item => { %>
            <li style="margin: 30px; list-style: none;">
                <img src="/<%= item.product.image %>" alt="<%= item.product.name %>" style="width: 100px;">
                <h3><%= item.product.name %></h3>
                <p>Price: $<%= item.product.price %></p>
                <p>Quantity: <%= item.quantity %></p>
                <p>Total: $<%= item.product.price * item.quantity %></p>
                
                <form action="/cart/update" method="POST" style="display: inline;">
                    <input type="hidden" name="productId" value="<%= item.productId %>">
                    <input type="hidden" name="quantityChange" value="1">
                    <button type="submit">+</button>
                </form>
                <form action="/cart/update" method="POST" style="display: inline;">
                    <input type="hidden" name="productId" value="<%= item.productId %>">
                    <input type="hidden" name="quantityChange" value="-1">
                    <button type="submit">-</button>
                </form>
                <form action="/cart/remove" method="POST" style="display: inline;">
                    <input type="hidden" name="productId" value="<%= item.productId %>">
                    <button type="submit">Remove</button>
                </form>
            </li>
            <p>Total Amount: $<%= cart.reduce((total, item) => total + item.product.price * item.quantity, 0) %></p>
        <% }) %>
        <form action="/order" method="POST">
            <button type="submit">Place Order</button>
        </form>
    <% } else { %>
        <p>Your cart is empty.</p>
    <% } %>
</ul>
