<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/dashboard.css" />
  </head>
  <body>
    <h1 style="margin-bottom: 30px">Dashboard</h1>
    <button>
      <a href="/dashboard/add-product">Add New Product</a>
    </button>
    <button>
      <a href="/dashboard/orders">Manage orders</a>
    </button>

    <div id="product-list" class="flex">
      <% products.forEach(product => { %>
      <div class="product">
        <img
          style="margin-top: 30px"
          src="<%= product.image %>"
          alt="<%= product.name %>"
        />
        <h2><%= product.name %></h2>
        <p>$<%= product.price %></p>
        <button>
          <a href="/dashboard/edit-product/<%= product._id %>">Edit</a>
        </button>

        <form
          action="/dashboard/delete-product/<%= product._id %>"
          method="POST"
        >
          <button type="submit">Delete</button>
        </form>
      </div>
      <% }); %>
    </div>
  </body>
  <%- include('footer'); -%>
</html>
