<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Product - E-Commerce</title>
    <link rel="stylesheet" href="/dashboard.css" />
  </head>
  <body>
    <h1 style="margin-bottom: 30px">Edit Product</h1>
    <form
      class="flex"
      style="flex-direction: column; gap: 20px"
      action="/dashboard/edit-product/<%= product._id %>"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="flex" style="flex-direction: column">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          value="<%= product.name %>"
          required
        />
      </div>
      <div class="flex" style="flex-direction: column">
        <label for="description">Description:</label>
        <textarea id="description" name="description" required>
<%= product.description %></textarea
        >
      </div>
      <div class="flex" style="flex-direction: column">
        <label for="price">Price:</label>
        <input
          type="number"
          id="price"
          name="price"
          value="<%= product.price %>"
          required
        />
      </div>
      <div class="flex" style="flex-direction: column">
        <label for="image">Image</label>
        <input type="file" id="image" name="image" />
        <img
          src="/<%= product.image %>"
          alt="<%= product.name %>"
          width="200px"
        />
      </div>
      <button type="submit">Update Product</button>
    </form>
  </body>
</html>
