<head>
    <link rel="stylesheet" href="/dashboard.css">
</head>

<body>
    <div class="flex">
        <div class="product-page">
            <h1>Orders</h1>
        <% if (orders.length > 0) { %>
            <% orders.forEach(order => { %>
                <div class="order">
                    <h2>Order ID: <%= order._id %></h2>
                    <p>Status: <%= order.status %></p>
                    <p>Total Amount: $<%= order.totalAmount %></p>
                    <p>Ordered on: <%= order.createdAt.toDateString() %></p>
                    <ul>
                        <% order.products.forEach(item => { %>
                            <li>
                                <img src="/<%= item.product.image %>" alt="<%= item.product.name %>" style="width: 100px;">
                                <p><%= item.product.name %> - Quantity: <%= item.quantity %></p>
                                <p>Price: $<%= item.product.price %></p>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            <% }) %>
        <% } %>
        </div>
    </div>
    
    
</body>
</html>
