<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= product.name %></title>
  <link rel="stylesheet" href="/app.css">
</head>

<%- include("header"); -%>
<body>
  <div class="flex">
    <div class="product-page">
      <img style="width: 300px;" src="/<%= product.image %>" alt="<%= product.name %>">
      <h1><%= product.name %></h1>
      <h3>Description:</h3>
      <p><%= product.description %></p>
      <p>Price: $<%= product.price %></p>
      <form action="/cart/add" method="POST">
        <input type="hidden" name="productId" value="<%= product._id %>">
        <input style="padding: 10px; width: 40px;" type="number" name="quantity" value="1" min="1">
        <button type="submit">Add to Cart</button>
      </form>
    </div>
  </div>


<%- include("footer"); -%>
</body>
</html>
